[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/fred/Bureau/ubukey-assist.desktop]
row=3
col=0

[/home/fred/Bureau/Shared_Folder]
row=4
col=0

[a6efba15-a52e-4419-8db0-4a1759b2cc0b]
row=0
col=0

[nostromo]
row=2
col=0

[partage]
row=1
col=0

